- content_for :title do
  Trips
- content_for :subnavigation do
  = render :partial => "trips/subnav"
- unless @current_trips.empty?
  %h2 Current
  = render :partial => "current_trips", :locals => { :trips => @current_trips }
- unless @future_trips.empty?
  %h2 Upcoming Trips
  = render :partial => "trips_list", :locals => { :trips => @future_trips }
- unless @past_trips.empty?
  %h2 Past Trips
  = render :partial => "trips_list", :locals => { :trips => @past_trips }
