- content_for :title do
  Trips
- content_for :subnavigation do
  = render :partial => "trips/subnav"
- @trips.each do |trip|
  .trip
    %h2= trip
    .nav
      = link_to "Edit", edit_trip_path(trip)
      = link_to "Delete", trip_path(trip), :method => :delete, :confirm => "Are you sure?"