- content_for :title do
  New Trip
- semantic_form_for @trip do |f|
  - f.inputs do
    - f.input :country, :label => 'Country'
    - f.input :city, :label => 'City'
    - f.input :start, :as => :date, :label => 'Trip Begins'
    - f.input :end, :as => :date, :label => 'Trip Ends'