- content_for :title do
  = "#{@trip}"
%h2 Registrations
%ul.subnavigation
  %li= link_to "Edit registrations", trip_registrations_path(@trip)
  %li= link_to "Edit schedule", edit_trip_schedule_path(@trip)
/ 
/ %h2 Staff
/ %ul.nav
/   %li= link_to "Edit staff", trip_staff_path(@trip)
/   