$black: #000;
$grey-dark: #444;
$grey-medium: #666;
$grey-light: #aaa;
$grey-very-light: #eee;
$white: #fff;
$red: #f00;
$yellow: #fffd99;
$light-yellow: #ffffe2;

$header-background-color: $grey-dark;