.DS_Store
.rvmrc
.ruby-version
.idea
.bundle/*
*.dat
*.gz
public/system/*
public/system_dev/*
config/database.yml
db/schema.rb
log/*.log
tmp
public/assets/*
public/system/patients/*
TODO
.env
Gemfile.local*
config/database.yml
