.DS_Store
.floo
.flooignore
.rvmrc
.ruby-version
.idea
.bundle/*
*.dat
*.gz
public/system/*
public/system_dev/*
config/*.yml
db/schema.rb
log/*.log
tmp
public/assets/*
public/system/patients/*
TODO
.env
Gemfile.local
