#alerts
  - if flash[:notice]
    %div.alert-box{ "data-alert" => true }
      = flash[:notice]
      %a.close{ href: "#" } &times;
  - if flash[:alert]
    %div.alert.alert-box{ "data-alert" => true }
      = flash[:alert]
      %a.close{ href: "#" } &times;
  - if flash[:error]
    %div.warning.alert-box{ "data-alert" => true }
      = flash[:error]
      %a.close{ href: "#" } &times;