.diagnosis.snapshot[diagnosis]{ :class => "#{severity(diagnosis).downcase}" }
  - if diagnosis.xrays.present?
    .xrays
      - diagnosis.xrays.each do |xray|
        = xray_preview(xray)
  %p.name
    = diagnosis
    - if diagnosis.revision?
      %span.asterisk (Revision)

  .nav
    = link_to "Edit", edit_patient_diagnosis_path(diagnosis.patient,diagnosis)
