.diagnosis.snapshot[diagnosis]{ :class => "#{severity(diagnosis).downcase}" }
  - if diagnosis.xrays.present?
    .xrays
      - diagnosis.xrays.each do |xray|
        = xray_preview(xray)
  %h3
    = diagnosis
    - if diagnosis.revision?
      %span.asterisk (Revision)
  .nav
    = link_to "Edit diagnosis", edit_patient_diagnosis_path(diagnosis.patient,diagnosis), :remote => true
