- if xray.photo.file?
  .enlarge
    = link_to image_tag(xray.photo.url(:thumb), :alt => xray.to_s, :class => "xray"), xray.photo.url, :rel => "group"
    %p [click to enlarge]
- else
  - f.semantic_fields_for :xrays, xray do |x|
    = x.input :diagnosis_id, :as => :hidden, :input_html => { :value => @diagnosis.id }
    - x.inputs do
      = x.input :photo, :as => :file, :label => "Photo"
      =# x.input :date_time, :as => :datepicker, :label => "When Taken"
      =# x.input :taken_at, :label => "Facility where taken"
