- if xray.photo.exists?
  - f.semantic_fields_for :xrays, xray do |x|
    = xray_thumbnail(xray)
    - x.inputs do
      = x.input :_destroy, :as => :boolean, :label => "Delete x-ray"
- else
  - f.semantic_fields_for :xrays, xray do |x|
    = x.input :diagnosis_id, :as => :hidden
    - x.inputs do
      = x.input :photo, :as => :file, :label => "Photo"
      =# x.input :date_time, :as => :datepicker, :label => "When Taken"
      =# x.input :taken_at, :label => "Facility where taken"
