- content_for :title do
  = "Edit Diagnosis"
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Delete diagnosis", resource_url, :method => :delete, :confirm => "Are you sure? This cannot be undone."
= render :partial => "form"