#diagnosis_list {
  @include clearfix;
}
.diagnosis {
  &.unremarkable img {
    @include bordered(2px, $black);
  }
  &.mild img {
    @include bordered(2px, $green);
  }
  &.moderate img {
    @include bordered(2px, $yellow);
  }
  &.severe img {
    @include bordered(2px, $red);
  }

}
.diagnoses {
  ul {
    list-style-type: none;
  }
  a.more {
    display: block;
    text-align: right;
  }
  li.inline {
    @include clearfix;
    border-top: dotted 1px $grey-very-light;
    padding-top: $margin-increment;
    .xrays {
      float: right;
    }
    img {
      height: 30px;
    }
    .enlarge {
      margin: 0 $margin-increment 0 0;
    }
    .nav {
      font-size: .7em;
    }
  }
}
.list_item.diagnosis {
  $summary_width: 12;
  .summary {
    @include column($summary_width);
    @include border($grey-light);
    .xrays {
      h4 { margin-bottom: $margin-increment; }
    }
  }
  .operations {
    clear: none;
    @include column($content-columns - $summary_width, true);
    float: none;
  }
}

.review_diagnosis {
  .xrays {
    @include float-left;
    margin-right: $margin-increment * 2;
  }
  form {
    @include float-left;
    ol { padding-left: 0; }
  }
}

.inline_diagnosis_list {
  .diagnosis {
    @include clearfix;
    .xrays { @include float-left; }
    .xrays {
      margin-right: $margin-increment;
    }
  }
  ul.nav {
    @include horizontal-list;
  }
}