#diagnosis_list {
  /*@include clearfix;*/
}
.diagnosis {
  &.unremarkable img {
    @include bordered(2px, $black);
  }
  &.mild img {
    @include bordered(2px, $green);
  }
  &.moderate img {
    @include bordered(2px, $yellow);
  }
  &.severe img {
    @include bordered(2px, $red);
  }

}
.diagnoses {
  ul {
    list-style-type: none;
  }
  a.more {
    display: block;
    text-align: right;
  }
  li.inline {
    @include clearfix;
    border-top: dotted 1px $grey-very-light;
    padding-top: $margin-increment;
    .xrays {
      float: right;
    }
    .nav {
      font-size: .7em;
    }
  }
}

.review_diagnosis {
  .xrays {
    @include float-left;
    margin-right: $margin-increment * 2;
  }
  form {
    @include float-left;
    ol { padding-left: 0; }
  }
}

.diagnosis {
  &.inline {
    @include clearfix;
    margin-bottom: $margin-increment;
    .xrays, .info {
      @include float-left;
    }
    .info {
      @include span(6);
      h3, h4, .asterisk { margin-bottom: 0.2em; }
      h3 { font-size: 1.3em; font-weight: bold; }
      h4 { font-size: 1em }
    }
    &.tiny {
      ul.nav {
        @include horizontal-list;
      }
    }
  }
}