@import "compass/css3/border-radius";

form.formtastic {
  input, textarea {
    font-size: 1.1em;
  }
  textarea {
    height: 1.1em * 6;
  }
  input, textarea, select {
    @include bordered(1px, $grey13);
    color: $grey-medium;
    background-color: $grey-ultra-light;
    @include border-radius($border-radius);
    padding: 6px;
    width: span(5);
    &:focus {
      @include bordered(1px, $grey-dark);
      color: $grey-dark;
      background-color: $white;
    }
  }
  fieldset.inputs label {
    float: none;
    text-align: left;
    color: $grey-medium;
  }
  fieldset > ol > li {
    margin-bottom: 0.5em;
    label {
      padding-top: .5em;
      width: auto;
    }
    &.boolean {
      label {
        padding-left: 0;
        input {
          width: auto;
        }
      }
    }
    &.radio, &.date {
      fieldset {
        legend, legend label {
          position: static;
        }
        ol {
          clear: both;
          padding-left: span(1);
          input, select {
            width: auto;
          }
          li {
            margin-bottom: 0;
          }
        }
      }
    }
    &.date fieldset ol {
      padding-left: 0;
    }
  }
  .buttons, fieldset.buttons, .actions, fieldset.actions {
    padding-left: 0;
    input {
      width: auto;
      border: none;
      @include border-radius($border-radius);
      background-color: $grey-dark;
      font-size: 1em;
      padding: 8px;
      color: $grey-very-light;
      text-transform: uppercase;
      &:hover {
        background-color: $grey-medium;
        color: $white;
      }
      &.update, &.create {
        background-color: $button-green;
        &:hover {
          background-color: $button-green - #444;
          color: $white;
        }
      }
    }
  }
  fieldset > ol > li.text textarea { width: span(5); }
}

.column-2 {
  @include float-left;
}
.column-3 {
  width: span(6);
  @include float-left;
}
