@import "compass/css3/border-radius";

form.formtastic {
  input, textarea {
    font-size: 1.1em;
  }
  input, textarea, select {
    @include bordered(1px, $grey-light);
    @include border-radius(6px);
    padding: 6px;
  }
  fieldset > ol > li label {
    padding-top: .5em;
  }
  .buttons {
    input {
      border: none;
      @include border-radius(6px);
      background-color: $grey-dark;
      font-size: 1em;
      padding: 8px;
      color: $grey-very-light;
      text-transform: uppercase;
      &:hover {
        background-color: $grey-medium;
        color: $white;
      }
    }
  }
}
