.list_item {
  @include clearfix;
  position: relative;
  padding-top: $margin-increment * 2;
  padding-bottom: $margin-increment * 2;
  @include column($blueprint-grid-columns - 1);
  border-bottom: solid 1px $grey-light;
  h3, h4 { margin-bottom: $margin-increment; }
  dt {
    @include float-left;
    margin-right: $margin-increment;
  }
  .image {
    @include column(3);
    img { width: 100px; }
  }
  .summary {
    @include column(7);
  }
  .diagnoses {
    @include column(10, true);
  }
  .enlarge {
    @include float-left;
    margin: $margin-increment;
  }
  .supplemental {
    clear: both;
    .details {
      @include prepend(3);
    }
    .toggle {
      margin-bottom: 0;
    }
  }
/*  .xrays {
    position: absolute;
    top: 0;
    right: 0;
    @include clearfix;
    img {
      float: right;
    }
  }
*/  
}

.diagnoses {
  ul {
    list-style-type: none;
  }
  li.inline {
    @include clearfix;
    border-top: dotted 1px $grey-very-light;
    padding-top: $margin-increment;
    .xrays {
      float: right;
    }
    img {
      height: 20px;
    }
    .enlarge {
      margin: 0;
    }
    .nav {
      font-size: .7em;
    }
  }
}