.list_item {
  @include clearfix;
  position: relative;
  padding-top: $margin-increment * 2;
  padding-bottom: $margin-increment * 2;
  @include column($blueprint-grid-columns);
  border-bottom: solid 1px $grey-light;
  dt {
    @include float-left;
    margin-right: $margin-increment;
  }
  .summary {
    @include column(13);
    h3 {
      margin-bottom: $margin-increment;
    }
    img {
      @include float-left;
      width: 100px;
      margin-right: $margin-increment;
    }
  }
  .enlarge {
    @include float-left;
    margin: $margin-increment;
  }
  .supplemental {
    clear: both;
  }
/*  .xrays {
    position: absolute;
    top: 0;
    right: 0;
    @include clearfix;
    img {
      float: right;
    }
  }
*/  
}

.diagnoses {
  ul {
    list-style-type: none;
  }
  li.inline {
    @include clearfix;
    border-top: dotted 1px $grey-very-light;
    padding-top: $margin-increment;
    .xrays {
      float: right;
    }
    img {
      height: 20px;
    }
    .nav {
      font-size: .7em;
    }
  }}
