$default-box-shadow-blur: 10px;
$default-box-shadow-spread: 3px;
$default-box-shadow-color: $grey-light;

@import "compass/css3/box-shadow";

#modal {
  @include bordered(1px, $grey-very-light);
  @include box-shadow;
}
.ui-dialog {
  &.instructions {
    font-size: 2em;
  }
  form ol {
    padding-left: 0;
  }
}
