#nav, #admin_nav, ul.subnavigation {
  @include horizontal-list;
  padding-left: 0 !important;
}
ul#session {
  @include horizontal-list;
}
ul.subnavigation {
  @include horizontal-list(.65em);
}
ul.nav {
  clear: both;
  padding-top: $margin-increment * 2;
}
#nav, #admin_nav {
  color: #fff;
  a { color: #fff; }
}
#nav {
  font-size: 1.5em;
}
span.inline_nav {
  font-size: .65em;
  padding-left: 1em;
}