.operation {
  @include clearfix;
  .summary {
    @include column(6);
  }
  .notes {
    @include column($blueprint-grid-columns - 14);
  }
  .implant {
    @include column(8, true);
  }
  .pre_op {
    clear: left;
    @include column($blueprint-grid-columns/2);
  }
  .post_op {
    @include column($blueprint-grid-columns/2, true);
  }
}

.operation.inline {
  @include summary_treatment;
  h4 { margin-bottom: 0; }
  .xrays {
    margin-top: $margin-increment;
  }
}