.ui-tabs .ui-tabs-panel {
  padding: $blueprint-grid-width / 2;
}

.patient_case_list {
  .patient_case {
    @include inline_record;
    .navigation { @include column(4, true); }
    form.patient_case {
      padding: 0;
      border-bottom: none;
    }
  }
  .patient {
    @include clearfix;
  }
  .treatment {
    @include treatment_data;
  }
}