.ui-tabs .ui-tabs-panel {
  padding: $blueprint-grid-width / 2;
}

.patient_case_list {
  div.patient_case {
    @include inline_record;
    .navigation { @include column(4, true); }
    form.patient_case {
      padding: 0;
      border-bottom: none;
    }
  }
  .patient {
    @include clearfix;
  }
  .treatment {
    @include treatment_data;
  }
}

.patient_list .patient {
  .cases {
    margin: -10px -15px -15px -15px;
    @include clearfix;
    padding-top: 10px;
    .patient_case {
      margin-left: 10px;
      padding: 10px;
      @include border-radius(6px);
      margin-bottom: 10px;
      @include float-left;
      border: solid 1px $grey-very-light;
    }
    .unauthorized {
      background-color: $grey-dark;
      color: $grey-very-light;
    }
    .authorized {
      background-color: $grey14b;
    }
  }
}