.section.medical_history {
  .risk_factors, .diseases {
    @include column($blueprint-grid-columns / 3);
  }
  .medications {
    @include column($blueprint-grid-columns / 3, true);
  }
}
.supplemental {
  .risk_factors {
    @include column(7);
  }
  .diseases {
    @include column(7);
  }
  .medications {
    @include column(6, true);
  }
  .details {
    @include clearfix;
    padding-top: $margin-increment * 2;
    padding-bottom: $margin-increment * 2;
  }
  .operations {
    clear: both;
  }
}
.basic_info {
  .image {
    @include column(6);
  }
  dt {
    @include float-left;
    margin-right: $margin-increment;
  }
  .info {
    @include column($blueprint-grid-columns - 6, true);
  }
}
.diagnoses {
  ul {
    list-style-type: none;
  }
  a.more {
    display: block;
    text-align: right;
  }
  li.inline {
    @include clearfix;
    border-top: dotted 1px $grey-very-light;
    padding-top: $margin-increment;
    .xrays {
      float: right;
    }
    img {
      height: 30px;
    }
    .enlarge {
      margin: 0 $margin-increment 0 0;
    }
    .nav {
      font-size: .7em;
    }
  }
}