@import "compass/css3/inline-block";

.patient_summary {
  @include inline_record;
  .navigation { @include column(4, true); }
}

.section.medical_history {
  .medications, .diseases {
    @include column($blueprint-grid-columns / 3);
  }
  .allergies {
    @include column($blueprint-grid-columns / 3, true);
  }
}
form.patient {
  .medical_history {
    @include clearfix;
    fieldset {
      ol {
        padding-left: 0;
        &> li > textarea {
          width: 80%;
          height: $margin-increment * 10;
        }
        &> li p.inline-hints {
          margin: 0;
          font-size: .8em;
          font-style: italic;
        }
      }
      &#medications_list {
        /*@include prepend(5);*/
      }
      &#allergy_list {
        @include column(($blueprint-grid-columns) / 3, true);
      }
    }
  }
  .risk_factor_fields {
    @include clearfix;
    .risk_factor {
      @include float-left;
    }
    .buttons {
      @include column(6, true);
      ol {
        padding-left: 0;
      }
    }
    ol {
      @include clearfix;
      margin-right: 0;
      margin-bottom: $margin-increment;
    }
    li {
      margin-bottom: 0;
    }
  }
  .risk_factors {
    #new_risk_factors {
      @include clearfix;
      padding-top: $margin-increment * 3;
    }
    #add_risk_factor {
      display: block;
      @include prepend(7);
    }
    fieldset.risk_factor {
      clear: left;
      &+ fieldset.buttons {
        padding-left: 0;
        @include inline-block;
      }
    }
    a.inline {
      @include float-left;
    }
    fieldset.associated {
      label {
        width: auto;
        margin-right: $margin-increment;
      }
      &> ol {
        &> li {
          &.risk {
            @include column(5);
          }
          &.severity {
            @include column(5, true);
            @include float-left;
            &>fieldset {
              &> legend {
                /*@include float-left;*/
                text-align: right;
              }
              &> ol {
                @include float-left;
                &> li {
                  @include float-left;
                  margin-right: $margin-increment !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.patient_list {
  @include clearfix;
  overflow: visible;
  .patient {

    @include inline_record;
    .basic {
      @include border-top-radius($border-radius);
      background-color: rgba(220, 220, 220, 0.8);
      position: relative;
      .image {
        position: absolute;
        top: $blueprint-grid-margin / 2;
        right: $blueprint-grid-margin;
        img { @include span(3); }
      }
      dl {
        font-size: 0.8em;
        &.col-1 { @include float-left; }
        &.col-2 { @include float-left; }
      }
    }
    .supplement {
      border-top: solid 1px $grey-light;
      @include border-bottom-radius($border-radius);
      background-color: rgba(250, 250, 250, 0.8);

      .case_list {
        .header {
          @include clearfix;
          h3 { @include column(7); }
          .nav {
            @include float-right;
          }
        }
        .case_group {
          &> * { margin: $blueprint-grid-margin; }
          border: solid 1px $grey11;
          @include border-radius($border-radius);
          background-color: rgba(240, 240, 240, 0.8);
          margin-bottom: $blueprint-grid-margin;
          &:last-child { margin-bottom: 0; }
        }
        .patient_case {
          margin-bottom: $blueprint-grid-margin;
          &:last-child { border-bottom: none; }
          padding: $blueprint-grid-margin;
          @include clearfix;
          border-bottom: solid 1px rgba($grey-medium, 0.3);
          .xrays {
            @include column(2);
            .tiny img {
              height: 40px;
            }
          }
          p {
            line-height: 1em;
            margin: 0;
            &.body_part { @include column(3); }
            &.diagnosis { @include column(7); }
          }
          .nav { @include float-right; }
          h3 { @include column(7); }
        }
        &.unauthorized .patient_case {
          padding: $blueprint-grid-margin;
          &:last-child { margin-bottom: 0; }
          background-color: $indicator-yellow;
          @include border-radius($border-radius);
          border: solid 1px rgba($grey-medium, 0.3);
        }
      }

    }
    /*
    .record {
      .navigation { @include column(4, true); }
      @include clearfix;
    }
    .treatment {
    }
    */
    &.case-focus {
      .name {
        @include clearfix;
        h2 {
          @include float-left;
          margin-bottom: 0;
        }
        h3 {
          @include float-right;
          margin-top: $margin-increment;
          margin-right: $margin-increment;
          margin-bottom: 0;
        }
      }
      .supplement {
        .diagnosis {
          @include float-left;
        }
      }
    }

  }
}

.collapsible {
  .basic {
    padding-right: 20px;
    position: relative;
    &:hover { cursor: pointer; }
  }
  .toggle {
    position: absolute;
    top: 8px;
    right: 0;
    @include sprite-opened;
  }
  &.collapsed {
    .toggle { @include sprite-collapsed; }
  }
}

#show_schedule_list {
  .case_list {
    @include clearfix;
    margin: 0;
    .patient_case {
      border-bottom: none;
    }
    &.column-1 {
      .patient_case {
        @include column(14, true);
      }
    }
    &.column-2 {
      .patient_case {
        @include column(7);
        &:last-child { @include column(7, true); }
      }
    }
    .xrays {
      @include column(1);
      .more {
        font-size: 0.7em;
        margin-top: 0;
      }
    }
    .diagnosis {
      margin-left: $blueprint-grid-margin;
    }
    .procedure {
      @include clearfix;
      clear: both;
      margin-top: 70px;
    }
  }
}