#registration_list {
  height: 500px;
  overflow: auto;
}
.registration {
  border-bottom: solid 1px $grey-light;
  margin-bottom: $margin-increment * 2;
  .list_item {
    border-bottom: none;
  }
  ul.nav {
    @include horizontal-list(1em);
    @include prepend(5);
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: $margin-increment * 3;
    font-size: 1.1em;
  }
}
form.registration {
  border-bottom: none;
}