#registration_list {
  /*height: 500px;*/
  /*overflow: auto;*/
  .ui-tabs-panel {
    padding: $margin-increment;
  }

  .registration {
    @include clearfix;
    padding-bottom: $margin-increment;
    border-bottom: solid 1px $grey-very-light;
    margin-bottom: $margin-increment;
    .patient {
      @include column($blueprint-grid-columns - 6);
      .info {
        @include column($blueprint-grid-columns - 14);
        dl { @include inline_dl(6,2); }
      }
      .diagnoses {
        @include column(8, true);
        img {
          @include column(1);
          margin-top: 4px;
        }
        .diagnosis {
          p { margin-bottom: 0; }
          margin-bottom: $margin-increment;
        }
      }
      img {
        @include column(3);
        @include float-left;
      }
      dl.demographic {
        @include float-left;
      }
    }
    .medical_details {
      clear: both;
      .category {
        @include column(($blueprint-grid-columns - 6)/4);
        &.allergies {
          @include column((($blueprint-grid-columns - 6)/4), true);
        }
        h4 { font-size: 1em; }
        ul {
          padding-left: 1.6em;
          font-size: 0.8em;
        }
      }
    }
    .action {
      @include column(5, true);
    }
  }
}
