#registrations {
  .ui-tabs-panel {
    padding: 1em 0;
  }
}

.registration_list {
  .registration {
    @include inline_record;
    form.registration {
      padding: 0;
      border-bottom: none;
    }
  }
}