#schedule_edit {
  .wrapper {
    @include bordered;
    @include float-left;
    @include column(6);
    @include border-radius(6px);
    margin-top: $margin-increment * 3;
    margin-bottom: $margin-increment * 3;
    .header {
      @include clearfix;
      background-color: $grey-dark;
      padding: $margin-increment ($margin-increment * 2);
      h2 {
        font-size: 1.5em;
        color: $grey-light;
        @include float-left;
      }
      h2, p {
        margin-bottom: 0;
      }
      p {
        @include float-right;
        padding-top: .5em;
        margin-left: 1em;
        a {
          color: $white;
        }
      }
    }
  }
  .registration {
    img {
      @include column(1);
      width: $blueprint-grid-width;
      height: $blueprint-grid-width;
      margin-right: 5px;
    }
    .details {
      h3 { @include widget_title; }
      dl {
        @include inline_dl(5, 2);
        font-size: 0.75em;
        margin-bottom: 0.5em;
      }
    }
  }
}

#room_toggle {
  @include horizontal-list;
  padding-left: 0 !important;
  a.inactive {
    &:after {
      /*content: " [show]";*/
    }
    color: $grey-light;
  }
}

.connectedSortable {
  @include column(6);
  height: 500px;
  overflow: auto;
  .sortable {
    @include sortable;
  }
}

.registration_order_placeholder {
  height: 2px;
  background-color: $black;
}

.moved1 {
  @include bordered(2px, #f00);
}
.moved2 {
  @include bordered(2px, #00f);
}