@import "compass/utilities/general/min";
/*
#schedule_edit {
  .wrapper {
    @include bordered;
    @include float-left;
    @include column(6);
    @include border-radius(6px);
    margin-top: $margin-increment * 3;
    margin-bottom: $margin-increment * 3;
    .header {
      @include clearfix;
      background-color: $grey-dark;
      padding: $margin-increment ($margin-increment * 2);
      h2 {
        font-size: 1.5em;
        color: $grey-light;
        @include float-left;
      }
      h2, p {
        margin-bottom: 0;
      }
      p {
        @include float-right;
        padding-top: .5em;
        margin-left: 1em;
        a {
          color: $white;
        }
      }
    }
  }
  .registration {
    img {
      @include column(1);
      width: $blueprint-grid-width;
      height: $blueprint-grid-width;
      margin-right: 5px;
    }
    .details {
      h3 { @include widget_title; }
      dl {
        @include inline_dl(5, 2);
        font-size: 0.75em;
        margin-bottom: 0.5em;
      }
    }
  }
}
*/

#schedule_edit {
  @include clearfix;
  font-size: 0.8em;
}

#source {
  @include column(6);
  .registration {
    h3 {
      margin-bottom: 0;
    }
  }
  .header {
    margin-bottom: $margin-increment;
    padding-bottom: $margin-increment;
    border-bottom: solid 1px $grey-light;
  }
}
table.schedule {
  @include border-radius(6px);
  th {
    background-color: $grey-dark;
    color: $white;
    a { color: $grey-very-light; }
  }
  tr.day {
    td { border-bottom: solid 2px $grey-dark; }
  }
  td {
    h3 { font-size: 1.1em; }
    vertical-align: top;
    border-left: solid 1px $grey-very-light;
    &.indicator {
      border-left: none;
      background-color: $grey-very-light;
      font-weight: bold;
      white-space: nowrap;
    }
    white-space: nowrap;
    .registration {
      margin-bottom: $margin-increment;
      p { margin: 0px; }
    } 
  }
}
table#schedule {
  overflow: auto;
  @include column($blueprint-grid-columns - 8, true);
  td {
    .patient, .procedure { white-space: normal; }
    .patient {
      @include column(3);
    }
    .procedure {
      @include column(2,true);
    }
  }
  .room {
   @include min-height(50px); 
  }
}

#room_toggle {
  @include horizontal-list;
  padding-left: 0 !important;
  margin-bottom: $margin-increment * 2;
  @include prepend(6);
  a.inactive {
    &:after {
      /*content: " [show]";*/
    }
    color: $grey-light;
  }
}

.connectedSortable {
  background-color: $white;
  /*@include column(6);*/
  /*height: 500px;*/
  overflow: auto;
  .sortable {
    position: relative;
    @include sortable;
  }
  img.ajax_loader {
    background-color: $white;
    height: 15px;
  }
}

.registration_order_placeholder {
  height: 2px;
  background-color: $black;
}

.moved1 {
  @include bordered(2px, #f00);
}
.moved2 {
  @include bordered(2px, #00f);
}