.trip, .trips {
  .glance, .active {
    @include column($blueprint-grid-columns / 2);
  }
  .schedule, .upcoming {
    @include column($blueprint-grid-columns / 2, true);
  }
}

table.summary_report {
  width: 100%;
  p { margin-bottom: 0.5em !important; }
  margin-bottom: 1.5em;
  td {
    h3 {
      line-height: 2.1em;
      margin-bottom: 0;
    }
    border-bottom: solid 1px #000;
    vertical-align: top;
    &.title {
      font-size: 2em;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        font-weight: normal;
        &.subtotal {
          font-weight: bold;
        }
      }
    }
  }
}