.xray.preview {
  position: relative;
  margin: 0 $margin-increment 0 0;
  & > .nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 25px;
    height: 50px;
    .zoom, .delete {
      a { display: block; width: 13px; }
      z-index: 10;
      position: absolute;
      width: 13px;
      left: 5px
    }
    .zoom span, .delete span {
      display: none;
    }
    .zoom {
      background-image: url('/images/xray_zoom.png');
      height: 11px;
      top: 8px;
      a { height: 11px; }
    }
    .delete {
      background-image: url('/images/xray_trash.png');
      height: 12px;
      top: 30px;
      a { height: 12px; }
    }
  }
}