.xray.preview {
  position: relative;
  margin: 0 $margin-increment 0 0;
  & > .nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 25px;
    height: 50px;
    .zoom, .delete {
      @include bordered(1px, #fff);
      z-index: 10;
      position: absolute;
      left: 5px
    }
    .zoom {
      @include sprite-zoom;
      top: 8px;
    }
    .delete {
      @include sprite-trash;
      top: 30px;
    }
  }
}