- content_for :title do
  X-Rays
- content_for :subnavigation do
  %ul
    %li= link_to "Add new X-Ray", new_case_xray_path(@parent)
    %li= link_to "Back to #{@parent}", case_path(@parent)

.xray_index
  - collection.each do |xray|
    .xray
      = xray_preview(xray, :size => :small)