- content_for :title do
  = "#{@operation} - New Implant"
-# TODO this is funky. make it more elegant and bulletproof, or consider revising the controller/view.
= render :partial => "implants/forms/#{@implant.type.underscore}"