.registration.snapshot{ :class => (registration.likely_bilateral? ? "bilateral" : "") }
  =# patient_image(registration.patient, :tiny)
  .details
    %h3= registration.patient
    /
      %dl
        %dt Body Part(s)
        %dd= body_part_list(registration)
        - unless registration.location.blank?
          %dt Location
          %dd= registration.location
        %dt Registration #
        %dd= registration.id