{{#registrations}}
.registration.sortable{ :id => "registration_{{id}}" }
  .patient
    %h3 {{patient}}
    %p Registration {{id}}
  .procedure
    /
      .unschedule= link_to_function "Unschedule", ""
    .part {{body_parts}}
    .complexity {{time_in_words}}
{{/registrations}}
{{^registrations}}
.registration
  %span.no-results No registrations found.
{{/registrations}}
