.sortable[appointment]
  .patient
    %p
      - if defined?(links) && !links
        = appointment.patient.to_s(:with_id => true)
      - else
        = link_to appointment.patient.to_s(:with_id => true), trip_patients_path(@trip, :patient_id => appointment.patient.id)
    %p= appointment