- content_for :title do
  = "#{@trip} - Edit Schedule"

%table#schedule_edit
  %thead
    %tr
      %th Unscheduled
      - @rooms.each do |room|
        %th.room_header= room
  %tbody
    %tr
      %td
        #unscheduled.registrations.connectedSortable
          - @unscheduled.each do |registration|
            .sortable[registration]= render :partial => "registrations/registration_snapshot", :locals => { :registration => registration }
      - @rooms.each do |room|
        %td
          .room.connectedSortable[room]
            - @trip.registrations.room_id(room.id).each do |registration|
              .sortable[registration]= render :partial => "registrations/registration_snapshot", :locals => { :registration => registration }

- content_for :script do
  = javascript_include_tag "lib/schedule.js"
      
- content_for :script do
  %script{ :type => "text/html", :name => "registration_snapshot_template"}
    {{#registrations}}
    .registration.sortable{ :id => "registration_{{id}}" }
      .registration.snapshot{ :class => "{{class}}" }
        .details
          %h3 {{patient}}
          %dl
            %dt Registration #
            %dd {{id}}
            %dt Body Part(s)
            %dd {{body_parts}}
            {{#location}}
            %dt Location
            %dd {{location}}
            {{/location}}
    {{/registrations}}
    {{^registrations}}
    .registration
      %span.no-results No registrations found.
    {{/registrations}}