@mixin inline_record() {
  @include clearfix;
  @include box-shadow;
  @include border-radius($border-radius);
  overflow: visible;
  margin-bottom: $margin-increment * 5;
  &> div {
    @include clearfix;
    &> * { margin: $blueprint-grid-margin; }
  }
}

@mixin summary_treatment() {
  @include clearfix;
  padding: $margin-increment;
  .info, .xrays {
    @include float-left;
  }
  .info {
    @include span(6);
    h3, h4, .asterisk { margin-bottom: 0.2em; }
    h3 { font-size: 1.3em; font-weight: bold; }
    h4 { font-size: 1em }
  }
  .navigation {
    margin-top: $margin-increment;
    a { color: $grey-light; }
    ul { @include horizontal-list; }
  }
}