@mixin inline_record() {
  @include clearfix;
  @include box-shadow;
  @include border-radius(6px);
  overflow: visible;
  /*border: solid 1px $grey-medium;*/
  background-color: #fff;
  padding: $blueprint-grid-width / 2;
  margin-bottom: $margin-increment * 10;
  .image {
    @include column(3);
    img { @include span(3); }
  }
  .primary {
    @include column(6);
    h3 { margin-bottom: 0.5em; }
  }
  .secondary {
    @include column($content-columns - 15);
  }
  .navigation {
    @include column(5, true);
    ol, ul {
      padding-left: 0;
      list-style-type: none;
      font-size: 0.85em;
      line-height: 0.9em;
      li {
        margin-bottom: 1.2em;
      }
    }
  }
  .supplemental {
    @include clearfix;
    @include column($content-columns);
    margin-bottom: $margin-increment;
  }
}

@mixin treatment_data() {
  .title_header, .diagnosis_and_operation {
    @include clearfix;
    .pre_op {
      @include column(($content-columns - 2) / 2);
    }
    .operation {
      @include column(($content-columns - 2) / 2, true);
    }
  }
  .diagnosis_and_operation {
    margin-bottom: $margin-increment * 3;
    border-bottom: dashed 1px $grey-very-light;
  }
}

@mixin summary_treatment() {
  @include clearfix;
  padding: $margin-increment;
  .info, .xrays {
    @include float-left;
  }
  .info {
    @include span(6);
    h3, h4, .asterisk { margin-bottom: 0.2em; }
    h3 { font-size: 1.3em; font-weight: bold; }
    h4 { font-size: 1em }
  }
  .navigation {
    margin-top: $margin-increment;
    a { color: $grey-light; }
    ul { @include horizontal-list; }
  }
}