@mixin widget_title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
@mixin inline_dl($cols: 10, $dt_cols: 3) {
  @include clearfix;
  @include column($cols);
  dt {
    @include column($dt_cols);
    text-align: right;
  }
  dd {
    margin-left: auto;
    @include column(($cols - $dt_cols), true);
  }
}