@mixin bordered($size: 1px, $color: #000, $type: solid) {
  border: $size $color $type;
}
@mixin debug {
  background-color: #faa !important;
  /*border: 1px #f00 dotted !important;*/
}
@mixin sortable {
  @include clearfix;
  padding: 3px;
  border-bottom: solid 1px $grey-very-light;
  background-color: $white;
  margin-bottom: 0;
  &:hover {
    cursor: move;
    background-color: $light-yellow;
  }
}