- if patient.has_contact?
  %h4 Contact Information
  %dl.contact
    - if patient.one_line_address.present?
      %dt Address:
      %dd= patient.one_line_address
    - if patient.phone.present?
      %dt Phone:
      %dd= patient.phone
    - if patient.email.present?
      %dt Email:
      %dd= mail_to patient.email
