- content_for :title do
  = "#{parent.try(:patient)} - Physical Therapy"
- content_for :subtitle do
  = parent
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Add new session", new_resource_path
