#diagnosis_list {
  /*@include clearfix;*/
}
.diagnosis {
  @include clearfix;
  h3 {
    font-size: 1.3em !important;
    margin-bottom: 0.5em !important;
  }
  .severity {
    font-size: 0.75em;
    font-style: italic;
    &.mild { color: $green; }
    &.moderate { color: $dark-yellow; }
    &.severe { color: $red; }
  }
}
.diagnoses {
  ul {
    list-style-type: none;
  }
  a.more {
    display: block;
    text-align: right;
  }
  li.inline {
    @include clearfix;
    border-top: dotted 1px $grey-very-light;
    padding-top: $margin-increment;
    .xrays {
      float: right;
    }
    .nav {
      font-size: .7em;
    }
  }
}

.review_diagnosis {
  .xrays {
    @include float-left;
    margin-right: $margin-increment * 2;
  }
  form {
    @include float-left;
    ol { padding-left: 0; }
  }
}
