// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.
@import "compass/css3/inline-block";

form.bp {
  @include blueprint-form; }

form {
  fieldset.inputs {
    margin-bottom: $margin-increment;
    &> legend {
      font-size: 1.3em;
      padding-bottom: $margin-increment * 2;
    }
    label {
      text-align: right;
      margin-right: $margin-increment
    }
    li.radio > fieldset > ol > li > label {
      text-align: left;
    }
  }
  li.hidden {
    display: none;
  }
  .required abbr {
    color: $red;
    padding-left: .3em;
    border: none;
  }

  .supplemental .toggle {
    @include prepend(6);
  }

  fieldset.inputs .complex {
    @include clearfix;
    li {
      &.supplemented {
        @include prepend(3);
        @include column(6);
        input {
          @include float-left;
          @include column(3);
        }
      }
      &.supplemental {
        @include column(4);
      }
      label {
        display:block; width:25%; float:left; padding-top:.2em;
      }
      @include float-left;
    }
  }

}

body.bp form fieldset .error {
  border: solid 1px #f00;
  background-color: #fff;
}

.datepicker {
  input { width: auto; display: block; }
}
body.bp .ui-datepicker td, body.bp .ui-datepicker th {
  padding: 0;
}



.dialog-form {
}
