@import "compass/utilities/links/link-colors";

.fake_link {
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.incomplete {
  color: $red;
}

.asterisk {
  font-size: 0.7em;
  color: $red;
  margin-left: 2px;
}

#sidebar {
  font-size: 0.8em;
  color: $grey-light;
  h1 {
    color: $grey-medium;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}