// overrides for iPad. Load these last.
body.bp {
  font-size: 1.1em;

  .case_group_list .case-focus.collapsible {
    .inline-navigation ul {
      li {
        font-size: 19px;
        margin-left: -28px;
        padding: 10px 0;
      }
    }
  }

  #sidebar {
    ul li {
      font-size: 19px;
      padding: 10px 0;
    }
  }

  .trip .schedule ul {
    list-style: none;

    li {
      font-size: 19px;
      padding: 10px 0;

    }
  }
}

form.easy {
  select, input {
    font-size: 25px;
  }
}

form.trip_list {
  select, input {
    font-size: 15px;
  }
}

#head .trip_nav ul li {
  font-size: 19px;
}

.xray.preview {
  & > .nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 50px;
    height: 50px;
    .zoom, .delete {
      position: absolute;
      left: 5px
    }
    .zoom {
      top: 8px;
    }
    .delete {
      display: none;
    }
  }
}
