@import "partials/base";
@import "compass/utilities/general/clearfix";
@import "blueprint";
@import "blueprint/typography";
@import "blueprint/grid";
@import "partials/two_col";
@import "partials/page";

body.patient_certificate {
  #summary_header {
    @include clearfix;
    margin-bottom: 15px;
    #sponsor_org {
      @include float-left;
      img { height: 80px; }
    }
    #host_org {
      @include float-right;
      img { height: 75px; }
      text-align: center;
    }
    .title_section {
      margin-top: 10px;
    }
  }

  .section {
    padding-top: 1pt;
    @include clearfix;
    h2, h3 {
      margin-bottom: 6pt;
    }
  }

  .summary {
    padding-top: 12pt;
    .photo {
      @include column(4);
      @include float-left;
      img {
        @include column(4);
        @include bordered(1px, #000);
      }
    }
    .data {
      @include float-left;
      font-size: 11pt;
      line-height: 10pt;
      p { margin-bottom: 10pt; }
    }
  }

  .xrays {
    h3 { text-align: center; text-decoration: underline; }
    .xray {
      @include prepend(1);
      @include append(1);
      img {
        @include span(($blueprint-grid-columns / 2) - 3);
        @include bordered(1px, #000);
      }
    }
    .before, .after {
      @include float-left;
    }
  }

}
