- appointments = patient.appointments(:conditions => ["trip_id = ?", trip.id])
- unauthorized_cases = patient.patient_cases.unauthorized(:conditions => ["trip_id = ?", trip.id])
= render :partial => "trip_patients/appointment", :collection => appointments, :as => :appointment
= render :partial => "trip_patients/unauthorized_case", :collection => unauthorized_cases, :as => :patient_case