%a{ :name => dom_id(patient) }
.patient{ :id => dom_id(patient) }
  .basic= render :partial => "patients/header", :locals => { :patient => patient }
  .supplement
    .cases= render :partial => "cases", :locals => { :patient => patient, :trip => @trip }