.row.patient_case.unauthorized{ :id => dom_id(patient_case) }
  .columns.large-10
    %h4
      - if permitted_to? :edit, patient_case
        = link_to V1::PatientCaseDecorator.new(patient_case).title, edit_trip_case_path(patient_case.trip,patient_case)
      - else
        = V1::PatientCaseDecorator.new(patient_case).title
    = render :partial => "xrays/collection", :locals => { :patient_case => patient_case, :xrays => patient_case.xrays.pre_op, :editable => false }
  .columns.large-2
    %ul.side-nav
    - if permitted_to? :authorize, patient_case.patient
      = link_to "Approve", authorize_trip_case_path(patient_case.trip, patient_case), :method => :put, :remote => true