.patient_case.snapshot
  =# patient_image(patient_case.patient, :tiny)
  .details
    %h3= patient_case.patient
    /
      %dl
        %dt Body Part(s)
        %dd= V1::PatientCaseDecorator.new(patient_case).anatomy
        - unless patient_case.location.blank?
          %dt Location
          %dd= patient_case.location
        %dt Case #
        %dd= patient_case.id