- content_for :title do
  = "#{@patient_case}"
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Display patient record", patient_path(@patient_case.patient)
.patient_case_list
  = render :partial => "patient_cases/summary/record", :object => @patient_case, :as => :patient_case