- content_for :title do
  Body Parts
- content_for :subnavigation do
  %ul
    - if permitted_to? :create, BodyPart.new
      %li= link_to_unless_current "New Body Part", new_body_part_path
%table.body_parts
  %thead
    %tr
      %th Name
      %th &nbsp;
  %tbody
    - collection.each do |body_part|
      %tr.body_part
        %td= body_part
        %td
          - if permitted_to? :edit, body_part
            = link_to "Edit", edit_body_part_path(body_part)
          - if permitted_to? :destroy, body_part
            = link_to "Delete", body_part_path(body_part), :method => :delete, :confirm => "Are you sure? This can have major effects throughout the system."
