!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    =# javascript_include_tag "jquery-1.4.1.min", "jquery.tweet", "flash", "application", "ie"
    =# stylesheet_link_tag "compiled/screen", "compiled/print"
    = stylesheet_link_tag "formtastic", "formtastic_changes"
    /[if IE]
      =# stylesheet_link_tag "compiled/ie"
    = yield :head
    %title Healer
  %body
    = yield