- content_for :title do
  = "#{@patient} - #{@operation}"
- content_for :subnavigation do
  %ul.subnavigation
    - if permitted_to? :edit, @operation
      = link_to "Edit", edit_patient_operation_path(@patient, @operation)